<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>HRIS - Requester</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- App Icons -->
        <link rel="shortcut icon" th:href="@{/dist/img/favicon.ico}">

    <div th:replace="fragments/header::css"></div>

    <link th:href="@{/plugins/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/plugins/datatables/responsive.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/3.1.4/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">


    <style>
        table thead {
            background-color: #007ac0;
            color: #fafafa;
        }

        .disabled {
            cursor: not-allowed;
        }
    </style>
</head>

<body>
    <div class="header-bg">

        <div th:replace="fragments/header::header"></div>

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <form class="float-right app-search">
                            <input type="text" placeholder="Search..." class="form-control">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                        <h4 class="page-title"> <i class="dripicons-blog"></i>Document Request History</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->
        </div>
    </div>

    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card m-b-20">
                        <br>
                        <div class="card-body" style="padding-left: 100px; padding-right: 100px;">
                            <br>
                            <h4>Requester Information</h4>
                            <hr>
                            <div class="form-group row">
                                <label for="example-text-input" class="col-md-4 col-form-label">Admin</label>
                                <span class="float-right col-form-label">:</span>
                                <div class="col-md-7 col-form-label">
                                    <span class="col-md-7" th:text="${data_employee[0]}"></span> 
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="example-text-input" class="col-md-4 col-form-label">Type</label>
                                <span class="float-right col-form-label">:</span>
                                <div class="col-md-7">
                                    <span class="col-md-7" th:text="${type}"></span> 
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">Start Date</label>
                                <span class="float-right col-form-label">:</span>
                                <div class="col-md-7">
                                    <span class="col-md-7" th:text="${#dates.format(startDate, 'dd-MM-yyyy')}"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="example-text-input" class="col-md-4 col-form-label">End Date</label>
                                <span class="float-right col-form-label">:</span>
                                <div class="col-md-7">
                                    <span class="col-md-7" th:text="${#dates.format(endDate, 'dd-MM-yyyy')}"></span>
                                </div>
                            </div>

                            <div class="form-group row" id="notes">
                                <label class="col-md-4 col-form-label">Description <span style="color: #d9534f">*</span> </label>
                                <span class="float-right col-form-label">:</span>
                                <div class="col-md-7">
                                    <span class="col-md-7" th:text="${description}"></span>
                                </div>
                            </div>


                            <hr>

                            <br>
                            <h4>Data Employee</h4>
                            <table id="tbldetails" class="table table-bordered hover dt-responsive display responsive nowrap"
                                   style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead class="text-center">
                                    <tr>
                                        <th>No</th>
                                        <th>NIK</th>
                                        <th>Name</th>
                                        <th>Customer Name</th>
                                        <th>Position</th>
                                        <th>KTP No.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center" th:each="viu : ${DetailsViewRm}">
                                        <td></td>
                                        <td th:text="${viu[0]}"></td>
                                        <td th:text="${viu[1]}"></td>
                                        <td th:text="${viu[4]}"></td>
                                        <td th:text="${viu[3]}"</td>
                                        <td th:text="${viu[2]}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- end container -->

    <!-- Footer -->
    <div th:replace="fragments/footer::footer"></div>
    <!-- End Footer -->

    <div th:replace="fragments/footer::js"></div>
    <script th:src="@{/dist/js/session.js}"></script>
    <!-- App js -->
    <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/datatables/dataTables.bootstrap4.min.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/datatables/dataTables.responsive.min.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/datatables/responsive.bootstrap4.min.js}" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            var t = $('#tbldetails').DataTable({
                searching: false,
                "paging": false,
                "columnDefs": [{
                        "searchable": false,
                        "orderable": false,
                        "targets": 0
                    }],
                "order": [
                    [1, 'asc']
                ]
            });

            t.on('order.dt search.dt', function () {
                t.column(0, {
                    search: 'applied',
                    order: 'applied'
                }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });
    </script>
</body>

</html>