<div th:fragment="footerAdm">
    <!-- <footer class="footer" style="background: radial-gradient(at 50% -20%, #007ac0, #0a1832)"> -->
    <footer class="footer" style="background: #4bbbce">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12" style="color: white;">
                    © 2020 PT Mitra Integrasi Informatika. All Rights Reserved.
                </div>
            </div>
        </div>
    </footer>
</div>

<div th:fragment="js">
    <script th:src="@{/dist/js/jquery.min.js}"></script>
    <script th:src="@{/dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/dist/js/modernizr.min.js}"></script>
    <script th:src="@{/dist/js/waves.js}"></script>
    <script th:src="@{/dist/js/jquery.slimscroll.js}"></script>
    <script th:src="@{/dist/js/jquery.nicescroll.js}"></script>
    <script th:src="@{/dist/js/jquery.scrollTo.min.js}"></script>

    <!-- App js -->
    <script th:src="@{/dist/js/app.js}"></script>
</div>