<!DOCTYPE html>
<html>
    <head>
        <title>Thank you</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
              rel="stylesheet" />
        <link th:href="@{/dist/css/dummyFeedback.css}" rel="stylesheet" type="text/css">



    </head>
    <body style="background: linear-gradient(rgba(26, 43, 202, 0.685), rgba(26, 43, 202, 0.685));">

        <div id='split-pane-or'>
            <div>
                <img th:src="@{/dist/img/hris.png}" style="margin-bottom: 13px">
                
            </div>
            <div class="text-content">
                <div style="font-size: 20px">Training and Development</div>

                <div class='big'>Thank you!!!</div>
                <div>Your Response has been saved</div>
            </div>
        </div>
    </body>
</html>
