<!DOCTYPE html>
<html>
    <head>
        <title>Confirmation</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
              rel="stylesheet" />
        <link th:href="@{/dist/css/dummyAccept.css}" rel="stylesheet" type="text/css">



    </head>
    <body>

        <div id='split-pane-or'>
            <div>
                <img th:src="@{/dist/img/hris.png}" style="margin-bottom: 13px">
                
            </div>
            <div class="text-content">
                <div style="font-size: 20px">Training and Development</div>

                <!--<div class='big'>Thank you!!!</div>-->
                <div>You have confirmed your presence for the training</div>
            </div>
        </div>
    </body>
</html>
