<!DOCTYPE html>
<html>
    <head>
        <title>HRIS - Change Password</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- App Icons -->
        <link rel="shortcut icon" th:href="@{/dist/img/favicon.ico}">

        <link rel="stylesheet" th:href="@{/dist/css/bootstrap.min.css}">
        <link th:href="@{/dist/css/icons.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/dist/css/style.css}" rel="stylesheet" type="text/css" />

        <link href="https://fonts.googleapis.com/css?family=Chelsea+Market&display=swap" rel="stylesheet">

        <style>
            .field-icon {
                float: right;
                margin-left: -25px;
                margin-top: -25px;
                position: relative;
                z-index: 2;
            }

            .fa-eye:before {
                content: "";
                margin-left: -20px;
            }

            .fa-eye-slash:before {
                content: "";
                margin-left: -20px;
            }
        </style>
    </head>
    <body>
        <!-- Loader -->
        <div id="preloader">
            <div id="status">
                <div class="spinner"></div>
            </div>
        </div>

        <!-- Begin page -->
        <div class="accountbg"></div>
        <div class="wrapper-page">

            <div class="card">
                <div class="card-body">

                    <h3 class="text-center m-0">
                        <a href="home.html" class="logo logo-admin"><img th:src="@{/dist/img/mii.png}" height="50" alt="logo"> HRIS</a>
                    </h3>

                    <div class="p-3">
                        <h4 class="text-muted font-18 m-b-5 text-center">Change Password !</h4>
                        <p class="text-muted text-center">You can change your password here.</p>

                        <form class="form-horizontal m-t-30" method="POST" th:action="@{/changePass}">
                            <input type="hidden" th:value="${nik}" name="nik" />
                            <div class="alert alert-danger" th:if="${oldtrue == 0}" >
                                <strong>Error! </strong> Old password incorrect
                            </div>
                            <div class="form-group">
                                <label for="oldPassword">Old Password</label>
                                <input type="password" class="form-control" name="oldPassword" id="oldPassword" placeholder="Enter Old Password">
                                <span toggle="#oldPassword" class="fa fa-fw fa-eye field-icon toggle-oldPassword"></span>
                            </div>
                            <div class="form-group">
                                <label for="newPassword">New Password</label>
                                <input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="Enter New Password">
                                <span toggle="#newPassword" class="fa fa-fw fa-eye field-icon toggle-newPassword"></span>
                            </div>
                            <div class="form-group">
                                <label for="confirmPass">Confirm Password</label>
                                <input type="password" class="form-control" name="confirmPass" id="confirmPass" placeholder="Enter Confirm Password">
                                <span toggle="#confirmPass" class="fa fa-fw fa-eye field-icon toggle-confirmPass"></span>
                            </div>

                            <div class="form-group row m-t-20">
                                <div class="col-sm-6">
                                    <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Save Password</button>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <div class="custom-control custom-checkbox">
                                        <a th:href="@{/home}">Back to Home</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <div class="m-t-40 text-center">
                <p> © 2020 PT Mitra Integrasi Informatika. All Rights Reserved.</p>
            </div>

        </div>

        <script src="https://unpkg.com/@popperjs/core@2.0.0"></script>
        <script th:src="@{/dist/js/jquery.min.js}"></script>
        <script th:src="@{/dist/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/dist/js/modernizr.min.js}"></script>
        <script th:src="@{/dist/js/waves.js}"></script>
        <script th:src="@{/dist/js/jquery.slimscroll.js}"></script>
        <script th:src="@{/dist/js/jquery.nicescroll.js}"></script>
        <script th:src="@{/dist/js/jquery.scrollTo.min.js}"></script>

        <!-- App js -->

        <script>
            $(".toggle-oldPassword").click(function () {

                $('.toggle-oldPassword').toggleClass("fa-eye fa-eye-slash");
                var input = $('#oldPassword');
                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                }
            });

            $(".toggle-newPassword").click(function () {

                $('.toggle-newPassword').toggleClass("fa-eye fa-eye-slash");
                var input = $('#newPassword');
                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                }
            });

            $(".toggle-confirmPass").click(function () {

                $('.toggle-confirmPass').toggleClass("fa-eye fa-eye-slash");
                var input = $('#confirmPass');
                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                }
            });
        </script>
    </body>
</html>
