<!DOCTYPE html>
<html>
    <head>
        <title>HRIS - RESET PASSWORD</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- App Icons -->
        <link rel="shortcut icon" th:href="@{/dist/img/favicon.ico}">

        <link rel="stylesheet" th:href="@{/dist/css/bootstrap.min.css}">
        <link th:href="@{/dist/css/icons.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/dist/css/style.css}" rel="stylesheet" type="text/css" />

        <link href="https://fonts.googleapis.com/css?family=Chelsea+Market&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- Loader -->
        <div id="preloader">
            <div id="status">
                <div class="spinner"></div>
            </div>
        </div>

        <!-- Begin page -->
        <div class="accountbg"></div>
        <div class="wrapper-page">

            <div class="card">
                <div class="card-body">

                    <h3 class="text-center m-0">
                        <a href="home.html" class="logo logo-admin"><img th:src="@{/dist/img/mii.png}" height="50" alt="logo"> HRIS</a>
                    </h3>

                    <div class="p-3">
                        <h4 class="text-muted font-18 m-b-5 text-center">Reset Password !</h4>
                        <p class="text-muted text-center">You can reset your password here.</p>

                        <form class="form-horizontal m-t-30" method="POST" th:action="@{/resetPassword}">
                            <input type="hidden" th:value="${userId}" name="nik">
                            <div class="form-group">
                                <label for="new_password">New Password</label>
                                <input type="password" class="form-control" id="new_password" name="new_password" placeholder="Enter New Password">
                            </div>
                            <div class="form-group">
                                <label for="confirm_pass">Confirm Password</label>
                                <input type="password" class="form-control" id="confirm_pass" name="confirm_pass" placeholder="Confirm your Password">
                            </div>

                            <div class="form-group row m-t-20">
                                <div class="col-sm-12 text-left">
                                    <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Save Password</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <div class="m-t-40 text-center">
                <p> © 2020 PT Mitra Integrasi Informatika. All Rights Reserved.</p>
            </div>
        </div>

        <script src="https://unpkg.com/@popperjs/core@2.0.0"></script>
        <script th:src="@{/dist/js/jquery.min.js}"></script>
        <script th:src="@{/dist/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/dist/js/modernizr.min.js}"></script>
        <script th:src="@{/dist/js/waves.js}"></script>
        <script th:src="@{/dist/js/jquery.slimscroll.js}"></script>
        <script th:src="@{/dist/js/jquery.nicescroll.js}"></script>
        <script th:src="@{/dist/js/jquery.scrollTo.min.js}"></script>

        <!-- App js -->
        <script th:src="@{/dist/js/app.js}"></script>
    </body>
</html>
