<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>HRIS - Training</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- App Icons -->
        <link rel="shortcut icon" th:href="@{/dist/img/favicon.ico}">

    <div th:replace="fragments/headerAdm::cssAdm"></div>

    <link th:href="@{/plugins/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/datatables/responsive.bootstrap4.min.css}" rel="stylesheet" type="text/css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->


    <style>
        table thead{
            background-color: #4bbbce;
            color: #fafafa;
        }
        .middle {
            line-height: 70px;
        }
    </style>

</head>
<body> 
    <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner"></div>
        </div>
    </div>

    <div class="header-bg">

        <div th:replace="fragments/headerAdm::headerAdm"></div>

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Training and Development</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->
        </div>
    </div>

    <div class="wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <!--<h4><a th:href="@{/addNewTrainer}" style="color: #4bbbce"><i class="fa fa-plus-circle"></i> Add New Trainer</a></h4>-->
                            <h4>Manage Training Request</h4>
                            <!--                            <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                                                            <i class="fa fa-calendar"></i>&nbsp;
                                                            <span></span> <i class="fa fa-caret-down"></i>
                                                        </div>-->

<!--                            <div class="input-group input-daterange">
                                <input type="text" id="datepicker" class="form-control" value="2012-04-05">
                                <div class="input-group-addon">to</div>
                                <input type="text" class="form-control" value="2012-04-19">
                            </div>-->

                            <br>
                            <div class="table-responsive">
                                <table id="requesterList" class="table table-bordered hover dt-responsive display responsive nowrap"
                                       style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead class="text-center">
                                        <tr>
                                            <th data-field="id" data-sortable="true" nowrap>No</th>
                                            <th data-field="name" data-sortable="true" nowrap>Name</th>
                                            <th data-field="status" data-sortable="true" nowrap>NIK</th>
                                            <th data-field="email" data-sortable="true" nowrap>Email</th>
                                            <th data-field="phone" data-sortable="true" nowrap>Join Date</th>
                                            <th data-field="phone" data-sortable="true" nowrap>Position</th>
                                            <th data-field="phone" data-sortable="true" nowrap>Training Type</th>
                                            <th data-field="action" data-formatter="actionFormatter" nowrap>Action</th>
                                            <th data-field="phone" data-sortable="true" nowrap>Expected</th>
                                            <th data-field="phone" data-sortable="true" nowrap>Status</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr th:each="rL : ${requestList}" class="text-center">
                                            <td ></td>
                                            <td th:text="${rL[6]}"></td>
                                            <td th:text="${rL[1]}"></td>
                                            <td th:text="${rL[7]}"></td>
                                            <td th:text="${rL[8]}"></td>
                                            <td th:text="${rL[9]}"></td>
                                            <td th:text="${rL[3]}"></td>
                                            <td>
                                                <div class='row' th:if="${rL[4] == 'Waiting For Approval'}">
                                                    <a th:href="${'./manageTrainingRequest/Approve/' + rL[0] + '/' + empl_nik + '/' + rL[2] + '/' + rL[6]}" th:id="${'approve' + rL[0]}" class="approve col-sm-2" title="Accept Request">
                                                        <i class="fa fa-check-square" aria-hidden="true" style="color: green;"></i>
                                                    </a>
                                                    <form th:action="${'./manageTrainingRequest/Reject/' + rL[0] + '/' + empl_nik + '/' + rL[6]}" method="POST" th:id="${'formReject' + rL[0]}">
                                                        <!--untuk nampung remark nanti-->
                                                        <a th:data-id="${rL[0]}" title="Reject Request" type="button" class="reject col-sm-2"><i class="fa fa-ban" aria-hidden="true" style="color: red;"></i></a>
                                                    </form>
                                                </div>
                                                <div class='text-center' th:if="${rL[4] == 'Accepted'}">
                                                    <a disabled="" style='color: #333333'><i style="font-size: 24px; color: blue;" class='fa fa-info-circle'></i></a>
                                                </div>
                                                <div class='text-center' th:if="${rL[4] == 'Rejected'}">
                                                    <a disabled="" style='color: #333333;'><i style="font-size: 24px; color: red;" class='fa fa-info-circle'></i></a>
                                                </div>
                                                <!-- The Modal -->
                                                <div class="modal fade" th:id="${'editModal'+rL[0]}">
                                                    <div class="modal-dialog modal-lg modal-dialog-centered">
                                                        <div class="modal-content">

                                                            <!-- Modal Header -->
                                                            <div class="modal-header">
                                                                <h4 class="modal-title"> <i class="fa fa-edit"></i> Edit Trainer</h4>
                                                                <button type="button" class="close" data-dismiss="modal" style="color: #4bbbce">&times;</button>
                                                            </div>
                                                            <!-- Modal body -->
                                                            <div class="modal-body">

                                                                <!--<form th:action="${'./save/'+trn[0]}" method="POST" id="form-submit" role="formTest">-->
                                                                <div class="form-group row">
                                                                    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                                                                    <div class="col-sm-10">
                                                                        <!--<input type="text" id="inputName" class="form-control" th:value="${trn[1]}" name="upName" maxlength="100" required="">-->
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="standing" class="col-sm-2 col-form-label">Status</label>
                                                                    <div class="col-sm-10">
                                                                        <select class="form-control" id="standing" name="upStats">
                                                                            <option value="Internal">
                                                                                Internal
                                                                            </option>
                                                                            <option value="Eksternal">
                                                                                Eksternal
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="email" id="email" class="col-sm-2 col-form-label">Email</label>
                                                                    <div class="col-sm-10">
                                                                        <!--<input type="email" id="email" name="upEmail" class="form-control" th:value="${trn[3]}" maxlength="100">-->
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="phone" class="col-sm-2 col-form-label">Phone Number</label>
                                                                    <div class="col-sm-10">
                                                                        <!--<input type="tel" id="phone" name="upTelp" class="form-control" th:value="${trn[4]}" pattern="^[0-9-+\s()]*$" maxlength="20">-->
                                                                    </div>
                                                                </div>

                                                                <div class="text-center">
                                                                    <button type="button" id="btn-submit" class="btn btn-primary mb-2">Save Change</button>
                                                                    <!--coba ubah ke button-->
                                                                </div>

                                                                </form>
                                                            </div>

                                                            <!-- Modal footer th:href="${'./deletebyid/'+trn[0]}" -->

                                                            <div class="modal-footer">

                                                                <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>-->

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td th:text="${rL[2]}"></td>
                                            <td th:text="${rL[4]}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->
        </div> <!-- end container -->
    </div>
    <!-- end wrapper th:action="${'./save/'+trn[0]}" -->



    <!-- Footer -->
    <div th:replace="fragments/footerAdm::footerAdm"></div>
    <!-- End Footer -->


    <div th:replace="fragments/footer::js"></div>
    <script th:src="@{/dist/js/session.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/datatables/dataTables.bootstrap4.min.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/datatables/dataTables.responsive.min.js}" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

<!--    <script>
        $('.input-daterange input').each(function () {
            $(this).datepicker('clearDates');
        });
        
                $(function () {
            $('#datepicker').datepicker({
                minDate: 1,
                onSelect: function () {
                    var dateObject = $(this).datepicker('getDate');
                    console.log("Date gg", Date.parse(dateObject));
                    var today = new Date(dateObject);
                    var dd = today.getDate();
                    var mm = today.getMonth() + 1;

                    var yyyy = today.getFullYear();
                    if (dd < 10) {
                        dd = '0' + dd;
                    }
                    if (mm < 10) {
                        mm = '0' + mm;
                    }
                    var today = yyyy + '-' + mm + '-' + dd;
                    document.getElementById("testa").value = today;
                },
                dateFormat: 'dd-mm-yy'
            }).val();
        });
    </script>-->

    <script>
        $(document).ready(function () {
            var t = $('#requesterList').DataTable({
                "columnDefs": [{
                        "searchable": false,
                        "orderable": false,
                        "targets": 0
                    }],
                "order": [
                    [1, 'asc']
                ]
            });

            t.on('order.dt search.dt', function () {
                t.column(0, {
                    search: 'applied',
                    order: 'applied'
                }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                responsive: true
            });
        });
    </script>

    <script>
        $('.approve').on('click', function (e) {
            e.preventDefault();
            const href = $(this).attr('href');
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            });
            Swal.fire({
                title: 'Accept Request',
                text: "Are you sure you want to accept the request??",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, accept it!'
            }).then((result) => {
                if (result.value) {
                    Swal.fire({
                        title: 'Training Approved, Please add it manually to training catalog',
//                        text: "Are you sure you want to accept the request??",
                        icon: 'success',
//                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
//                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Okay!'
                    }).then((result) => {
                        if (result.value) {
                            document.location.href = href;
                        }
                    });
                } else if (
                        /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                        ) {
                    swalWithBootstrapButtons.fire(
                            'Cancelled',
                            'No changes has been made :)',
                            'error'
                            );
                }
            });
        });
    </script>

    <script>
        var reason;
        $('.reject').on('click', function () {
            var dataid = this.getAttribute("data-id");
            console.log("daa:", dataid);
            var form = $(this).parents('form');
            console.log(form);
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            });
            Swal.fire({
                title: 'Reject Request',
                text: "Are you sure you want to reject the request!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, reject it!'
            }).then((result) => {
                if (result.value) {
                    Swal.fire({
                        title: 'Reason to reject',
                        html:
                                '<input type="textarea" placeholder="Add Reason" name="reason" id="swal-input1" class="swal2-input">',
                        focusConfirm: false,
                        preConfirm: () => {
                            return [
                                reason = document.getElementById('swal-input1').value
                            ];
                        }
                    }).then((res) => {
//                            apaaja
                        var div1 = document.createElement('div');
                        div1.innerHTML = "<input type='text' name='reason' value='" + res.value + "' readonly hidden />";
                        document.getElementById("formReject" + dataid).appendChild(div1);

                        if (res.value) {
                            Swal.fire({
                                title: 'Training is successfully rejected',
//                        text: "Are you sure you want to accept the request??",
                                icon: 'success',
//                        showCancelButton: true,
                                confirmButtonColor: '#3085d6',
//                        cancelButtonColor: '#d33',
                                confirmButtonText: 'Okay!'
                            }).then((result) => {
                                if (result.value) {
                                    form.submit();
                                }
                            });
                        }

//                        form.submit();

                    });

//                        if (formValues) {

//                            Swal.fire(JSON.stringify(formValues));
//                        }
                } else if (
                        /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                        ) {
                    swalWithBootstrapButtons.fire(
                            'Cancelled',
                            'The Entry is safe :)',
                            'error'
                            );
                }
            });
        });
    </script>

    <!--    <script>
            $('.btn-del').on('click', function (e) {
                e.preventDefault();
                const href = $(this).attr('href');
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                    },
                    buttonsStyling: false
                });
                Swal.fire({
                    title: 'Are you sure want to delete trainer data?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        document.location.href = href;
                    } else if (
                            /* Read more about handling dismissals below */
                            result.dismiss === Swal.DismissReason.cancel
                            ) {
                        swalWithBootstrapButtons.fire(
                                'Cancelled',
                                'The Entry is safe :)',
                                'error'
                                );
                    }
                });
            });
        </script>-->
</body>
</html>
